<fieldset>
<legend>New account</legend>
<p>Instructions for activating your account
have been sent to your email adress.
If this address is incorrect, please
<%= link_to 'signup', signup_path %>
again. If you do not receive the email
soon, please check your spam filter.</p>
</fieldset>