<h1>Dashboard</h1>

<ul>
	<li><%= link_to 'Change password', change_password_path %></li>
	<li><%= link_to 'View your user profile', user_path(current_user.id) %></li>
	<li><%= link_to 'Log out', logout_path %></li>
</ul>