#reset_password.html.erb
  
    <% form_for :user, :url => {:action => "reset_password"} do |form| %>
        <fieldset>
     <legend>Reset Password</legend>
     
            <p>
                <label for="user_password" >Password</label><br/>
                <%= form.password_field :password, :size => 45, :class => 'text' %>
      </p>
      <p>
                <label for="user_password_confirmation" >Confirm Password</label><br/>
                <%= form.password_field :password_confirmation, :size => 45, :class => 'text' %>
            </p>
            <%= submit_tag "Reset your password" %>
        </fieldset>
    <% end %>
  </pre>
  <p>Standard stuff there.</p>
  <p>Now, open up app/helpers/application_helper.rb and add this code:</p>
  <pre>
    def user_logged_in?
      session[:user_id]
    end