<div style="background-color:#ccc; width:559px; padding:10px">
<table width="559px" border="0" align="center" cellpadding="2">
	<tr><td bgcolor="#ffffff">
<h2>Zoekresultaten:</h2>
<table>
  <tr>
    <th>Titel</th>
    <th>Artiest</th>
    <th>Prijs</th>
	<th></th>
  </tr>
<% for product in @products %>
  <tr>
    <td><%= product.titel %></td>
    <td><%= product.artiest %></td>
    <td><%= product.prijs %></td>
    <td><%= link_to 'Show', product %></td>
 </tr>
<% end %>
</table>
</td>
</tr>
</table>
</div>