<h1>Betaling</h1>

De betaling heeft succesvol plaatsgevonden. U ontvangt in uw email een downloadlink 
waarmee u uw gekochte producten kunt ophalen. In Aankopen kunt u terugzien welke aankopen u gedaan heeft.