<div class="leftmenu">
  <ul class="nav">
    <li class="nav1 drop"><a class="main" href="/home"><b>Home</b></a></li>        
    <li class="nav3 drop"><a class="main" href="/artiests"><b>Artiesten</b></a></li>
    <li class="nav3 drop"><a class="main down" href="/albums"><b>Albums</b></a>
      <ul><li><a href="/albums/nieuwe"><b>Nieuwe albums</b></a></li>
          <li><a href="/albums/uitgelicht"><b>Uitgelicht</b></a></li>
          <li><a href="/albums/bestverkocht"><b>Best verkocht</b></a></li>
          <li><a href="/albums/bestrating"><b>Hoogst gewaardeerd</b></a></li>
      </ul>
    </li>
    <li class="nav3 drop"><a class="main down" href="/nummers"><b>Genres</b></a>
      <ul><li class="fly"><a class="main" href=" "><b>Overige</b></a>
            <ul><li><a href="/genre/blues"><b>Blues</b></a></li>
                <li><a href="/genre/country"><b>Country</b></a></li>               
                <li><a href="/genre/diversen"><b>Diversen </b></a></li>
                <li><a href="/genre/folk"><b>Folk </b></a></li>                 
                <li><a href="/genre/kind & jeugd"><b>Kind &amp; Jeugd </b></a></li>                           
                <li><a href="/genre/new age"><b>New Age </b></a></li>               
                <li><a href="/genre/rap & hip hop"><b>Rap &amp; Hip Hop </b></a></li>
                <li><a href="/genre/r&b & soul"><b>R&amp;B &amp; Soul </b></a></li>
                <li><a href="/genre/reggae"><b>Reggae </b></a></li>
                <li><a href="/genre/religieus"><b>Religieus </b></a></li>       
                <li><a href="/genre/soundtracks & musicals"><b>Soundtracks &amp; Musicals </b></a></li>
                <li><a href="/genre/verzamel-cd's & boxsets"><b>Verzamel-cd's &amp; Boxsets </b></a></li>
                <li><a href="/genre/wereldmuziek"><b>Wereldmuziek</b></a></li>
            </ul>
          </li>
          <li><a href="/genre/pop"><b>Pop </b></a></li>
          <li><a href="/genre/klassiek"><b>Klassiek </b></a></li>
          <li><a href="/genre/nederlands"><b>Nederlands </b></a></li>
          <li><a href="/genre/rock & alternative"><b>Rock &amp; Alternative </b></a></li>
          <li><a href="/genre/jazz"><b>Jazz </b></a></li>
          <li><a href="/genre/dance"><b>Dance </b></a></li>
      </ul>
    </li>
    <li class="nav2 drop"><a class="main" href=" "><b>Charts</b></a></li>
    <li class="nav5 drop"><a class="main" href="/disclaimer"><b>Disclaimer</b></a></li>
  </ul>
</div>

<div class="login">
  <% if user_logged_in? %>
    <p>logged in as <%= h current_user.login %> -- <a href="/logout"><button type="button">Logout</button></a></p>
  <% else %>
    <form action="/session" method="post"><p>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>"/> 
      &nbsp;user: <input id="login" name="login" type="text" class="input"/>
      wachtwoord: <input type="password" id="password" name="password" class="input" /></p>
      <div class="button"><input name="commit" type="submit" value="Log in"/></div>
    </form>
  <% end %>
</div>

<div class="searchmenu">
  <ul class="nav">
    <li class="nav4 drop"><a class="main down" href="/klants"><b>User</b></a>
      <ul><li><%= link_to '<b>Winkelmandje</b>', klant_aankoops_url(current_user.id) + '/onbetaald' %></li>
          <li><%= link_to '<b>Aankopen</b>', klant_aankoops_url(current_user.id) %></li>
          <li><a href=" "><b>Voorkeuren</b></a></li>
      </ul>
    </li>
  </ul>
</div>
