<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <base href="http://localhost:3000" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Muziekwinkel</title>
    <%= stylesheet_link_tag :all %>

    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
           //hide the all of the element with class msg_body
           $(".right_body").hide();
           //toggle the componenet with class msg_body
           $(".right_head").click(function() { $(this).next(".right_body").slideToggle(400); });
           $(".rightsearch_head").click(function() { $(this).next(".rightsearch_body").slideToggle(400); });
        });
    </script>
    <script type="text/javascript" src="swfobject.js"></script>
    <script type="text/javascript">
        //Support function: checks to see if target
        //element is an object or embed element
        function isObject(targetID){
           var isFound = false;
           var el = document.getElementById(targetID);
           if(el && (el.nodeName === "OBJECT" || el.nodeName === "EMBED")){
              isFound = true;
           }
           return isFound;
        }

        //Support function: creates an empty
        //element to replace embedded SWF object
        function replaceSwfWithEmptyDiv(targetID){
           var el = document.getElementById(targetID);
           if(el){
              var div = document.createElement("div");
              el.parentNode.insertBefore(div, el);
              swfobject.removeSWF(targetID);
              div.setAttribute("id", targetID);
           }
        }

        function loadSWF(url, targetID, file, artiest, titel){
           //Check for existing SWF
           if(isObject(targetID)){
              //replace object/element with a new div
              replaceSwfWithEmptyDiv(targetID);
           } 
           //Embed SWF
           if (swfobject.hasFlashPlayerVersion("7")) {
              var params = { flashvars:"titel=" + titel + "&artiest=" + artiest + "&mp3=" + file};
              var attributes = { data: url, width:"960", height:"80" };
              var obj = swfobject.createSWF(attributes, params, targetID);
           }
        }

        function play(file, artiest, titel) {
            loadSWF("SimpleMP3_01.swf", "previewplayer", file, artiest, titel);
        }

        $(function() { play('None', 'None', 'None')});
    </script>
    <script language="javascript">
        if(self.location==top.location)self.location="frameset.html";
    </script>
  </head>
  <body style="overflow-x: auto; overflow-y: scroll;">
    <div class="container"> 
      <div class="header"> </div>
      <div class="menu">
        <%= render :partial => 'layouts/menu' %>
      </div>

      <div class="inhoud"> <!-- alles onder het menu-->
        <div class="inhoud_text_links"> <!-- hier komen de views-->
          <%= yield -%>
        </div>

        <div class="right_menus"><!-- rechter uitvouw deel, zoek nieuw top-->
          <p class="rightsearch_head">Zoeken</p>
          
          <div class="rightsearch_body">
            <form action="/search" method="get">
              <table border="0" cellspacing="0" cellpadding="3" style="width:342px">
                <tr><td style="width:47px">artiest:</td>
                    <td style="width:283px"><input name="artiest" type="text" class="zoekveld_rechts" size="10" /></td></tr>
                <tr><td>album: </td>
                    <td><input name="album" type="text" class="zoekveld_rechts" size="10"/></td></tr>
                <tr><td>song:</td>
                    <td><input name="song" type="text" class="zoekveld_rechts" size="10" />
                        <input name="zoek" type="submit" value="Zoek" class="zoekveld_submit" /></td></tr>
              </table>
            </form>
          </div>

          <p class="right_head">Uitgelichte albums <img src="images/downarrow.png" border="0px" hspace="2px" align="right"/></p>
          <div class="right_body">
            <% for uitgelicht in Uitgelicht.all %>
              <%= render :partial => 'albums/album', :locals => {:album => uitgelicht.album} %>
            <% end %>
          </div>

          <p class="right_head">Nieuwe albums <img src="images/downarrow.png" border="0px" hspace="2px" align="right"/></p>
          <div class="right_body">
            <% for album in Album.all(:order => 'jaar DESC', :limit => 2) %>
              <%= render :partial => 'albums/album', :locals => {:album => album} %>
            <% end %>
          </div>

          <p class="right_head">Meest verkocht <img src="images/downarrow.png" border="0px" hspace="2px" align="right"/></p>
          <div class="right_body">
            <% for album in Album.all.sort_by { |a| a.aankoops.count }.reverse[0..1] %>
              <%= render :partial => 'albums/album', :locals => {:album => album} %>
            <% end %>
          </div>

          <div id="footer"></div>
          <div class="bottommp3spacer"></div>
        </div>

        <div class="bgwhite"></div>

      </div>
    </div>
  </body>
</html>
